
<!-- begin: start_html -->
<!-- end:   start_html -->


<!-- begin: end_html -->
<script> 
	window.print(); 
	self.close();
</script> 
</body>
</html>
<!-- end:   end_html -->

<!-- begin: header -->
<table style="text-align: left; width: 100%;" border="0"
 cellpadding="0" cellspacing="2">
  <tbody>
    <tr>
      <td style="width: 184px;">ycube plus RAD [{version}]</td>
      <td colspan="1" rowspan="2"
 style="width: 335px; text-align: center;"><big
 style="font-weight: bold;"><big>{HTML_title}</big></td>
      <td style="width: 138px; text-align: right;">{time}</td>
    </tr>
    <tr>
      <td>{HTML_name}</td>
      <td style="text-align: right;">{user}</td>
    </tr>
    <tr align="center">
      <td colspan="3" rowspan="1" style="width: 184px;"></td>
    </tr>
  </tbody>
</table><hr />
<!-- end:   header -->

<!-- begin: start_list -->
<table style="text-align: left; width: 100%;" border="0"
cellpadding="0" cellspacing="2">
  <tbody>
<!-- end:   start_list -->

<!-- begin: end_list -->
  </tbody>
</table>
<!-- end:   end_list -->

<!-- begin: start_list_head -->
	<tr>
<!-- end:   start_list_head -->
<!-- begin: list_head -->
		<th {align}>{data}</th>
<!-- end:   list_head -->
<!-- begin: stop_list_head -->
	</tr>
<!-- end:   stop_list_head -->

<!-- begin: start_list_cell -->
	<tr>
<!-- end:   start_list_cell -->
<!-- begin: list_cell -->
		<td {align} {style}>{HTML_data}</td>
<!-- end:   list_cell -->
<!-- begin: stop_list_cell -->
	</tr>
<!-- end:   stop_list_cell -->

<!-- begin: start_tot_cell -->
	</tr>
<!-- end:   start_tot_cell -->

<!-- begin: tot_cell -->
		<td style="font-weight:bold;text-align: right;">{HTML_data}</td>
<!-- end:   tot_cell -->
